<div class="container pt-4">
  <h2>Cryptos Dashboard</h2>

  <!-- Filtros -->
  <div class="row">
    <div class="col-md-6">
      <label for="plataforma">Plataforma:</label>
      <select id="plataforma" class="form-select" [(ngModel)]="filtropPlataforma">
        <option value="">Todos</option>
        <option value="Bitcoin Ecosystem">Bitcoin Ecosystem</option>
        <option value="Ethereum Ecosystem">Ethereum Ecosystem</option>
        <option value="Binance Chain">Binance Chain</option>
<option value="Polkadot Ecosystem">Polkadot Ecosystem</option>
      </select>
    </div>

    <div class="col-md-6">
      <label for="industria">Industria:</label>
      <select id="industria" class="form-select" [(ngModel)]="filtropIndustria">
        <option value="">Todas</option>
        <option value="Meme">Meme</option>
        <option value="Store Of Value">Store Of Value</option>
        <option value="Stablecoin">Stablecoin</option>
        <option value="Medium of Exchange">Medium of Exchange</option>
<option value="Web3">Web3</option>
      </select>
    </div>
  </div>

  <button class="btn btn-dark mt-3 mb-3 " (click)="aplicarFiltro()">Aplicar</button>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Precio (USD)</th>
        <th scope="col">Market Cap</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crypto of cryptosFiltradas">
        <th scope="row">{{crypto.id}}</th>
        <td><img src="{{crypto.logo_url}}" width="30" height="30"> {{crypto.name}}</td>
        <td>{{crypto.precio}}</td>
        <td>{{crypto.marketcap}}</td>
      </tr>
    </tbody>
  </table>

  <!-- Mensaje de no coincidencias -->
  <p *ngIf="mostrarMensajeNoCoincidencias">No se encontraron coincidencias.</p>
</div>


